.media-player-container {
    border: blue solid 1px;
    align-self: center;
    width: 80%;
    max-width: 800px;
    height: 400px;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
